---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: db-credentials
  namespace: development
spec:
  encryptedData:
    password: AgC/TYX9xpSJwGBCBCFIwj++Qz+8aThgCGj2buZkKKxy0ROrtCiY+4m3VDVsHOQaAZ0eTANx6cBWCmEJO8oHvufzqZ14j6F4xtIdxYTO+nYjpj+BGwzz78m4FWw+b6sCw3GqMWXFbLeJDy3qgVubipByl9BHN0XWXPEtPBXkeWZQMWPrzB7ydawQZwVI02VjJ2CviWHFOd0yXXTqdrNt+1N+kz5vUCpD25PvghCYsRSq+elJoc56n4GAty8Avrcdinix2r6xiH1dAeO790RA00BFo1WpbqlSfOgLi2tZs35ocMikb9Taa8FT+Jc8tdvjENfc/h/kR4yDUQUJ0FnaQlsmicTYetlsF7n4zNkoruXGQZczoBDQNKcKsJLrflO3DUuKCn3aGTs5isloDZQxIdbNLZ4ShmgyRypjFJeKZmLqygIGqbQ1gr1NxBR++TT3bYgNNAsWJGjRQ0knHKi6VEq4fbgdGPikOAbzB0+q2PLpsNC3XpzZ9LtwGwrP197pEkTWyXez/w7n5lGbUXGnUrg1qikxPs+7XxOO+IiOGPhDzLv7IuRWPcHirBxNfuQgtU8EnZMZr1gYRvLfYbLNxvHSK6rZmaJLD0ljnxMzVCgLNkhCLiA6WifoMQGdmsTju7jEG0+DPeuFWlhemqpYShtgfCbpS2Qu81v9KpQhQ0Y7huE0LBYTVC5Etdi04UlYsQeR5nbJOh/3x1cr2ZKKh36J
    username: AgCdi5i5KRVN6U6fih/+np0FBHdzuNNEGoDhDH5XBH6YYvoQ1sjznMgOZM19BHat5E0fS7zX/+VUdtrSMrUY+zUT5JTh1M5Ky1tnfemQXqQtiZuzQ2FwiPVabDoNl87qhFOJMSt/AlSDcmh96jKeOxzrLLWR6DHUuliHfzSz7KAjJRVQEYD7cM0lhCltQteqmZGAKqKqnAXElgyJJouFmLhj1Ui82q6NuhSpBpACe4YBtJr1m5AnOK347YF4p1C5FVvPPFEx602U8+X3SI0Ey8wppRbUitnsdWcPJjeXtTwyNPq+LUv3xebl+trTbnmXlc++Eq3gs+7RIRAt6R97mcJpXxK2UIpZY2Q8jrHygynYs20cC6kNNIL5oHxCsLMdhGRoTsbAs/YWCWyAYdMmV+TfUvHbiz0dHRAHWLbsACuVAl1MZuhE0JTGOxWVcvA3FvDHZNS00sUOmxhzKsF6Z9YQw5rBfE4Zhl8k4aLBy3G2EP880i3O3qv4RGChaE1MghdR1VEsN+VFZ5X7kJbUWlzI5GeC+zGbpJF6P0IwShcmXFGrlgoNyHaBaUT0XiF6rXLi26cGKODb+PAmkyv0RBtXnXALebcl+9wIvCugLjzZaZsIAZJBAtKiEPxQG3lhO58kxt5GDLCFxov61bojnzdz/qS/1FC8nWNQ3F5sbr8/TonYrWuFokK9NY7hCAxB3+GcA83APummS4mm6w==
  template:
    metadata:
      name: db-credentials
      namespace: development
    type: Opaque
